@font-face {
    font-family: "norse-bold";
    src:
      url("Norse-Bold.otf") format("otf");
    font-weight: normal;
    font-style: normal;
  }

body {
    display: flex;
    height: 100vh;
    width: fit-content;
}

.side-bar {
    background-image: url(images/hair-salon-background.jpg);
    background-size:cover;
    width: 65%;
}

.side-bar-shadow {
    background-color: rgba(0, 0, 0, 0.212);
    width: 100%;
    height: 30%;
    position: relative;
    top: 30%;
}

div.side-bar-logo > img {
    height: 100px;
    width: auto;
}

.logo-text {
    font:
    1.4em/1.5em "norse-bold",
    cursive,
    sans-serif;
}

