@font-face {
    font-family: "norse-bold";
    src:
      url("Norse-Bold.otf") format("otf");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "Retroica";
    src:
      url("Retroica.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }

html,
body {
    display: flex;
    height: 100vh;
    width: fit-content;
    margin: 0;
}

.side-bar {
    background-image: url(images/hair-salon-background.jpg);
    background-size:cover;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.side-bar-shadow {
    background-color: rgba(0, 0, 0, 0.212);
    width: 100%;
    height: 30%;
    position: relative;
    top: 30%;
}

.side-bar-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar-logo {
    text-align: center;
}

div.side-bar-logo > img {
    height: 100px;
    width: auto;
}

.logo-text {
    font: "norse-bold", cursive, sans-serif;
    color: white;
    font-size: 5rem;
}

footer {
    text-align: center;
    color: white;
    width: 100%;
    bottom: 0;
}

.main {
    font: "retroica", cursive, sans-serif;
    color: black;
}

button {
    background-color: #596D48;
}

